<?xml version="1.0" ?>
<song>
	<thainame>none</thainame>
	<englishname>Context </englishname>
	<mienthainame>none</mienthainame>
	<order>segment1,segment2,segment3,segment4,segment5,segment6</order>
	<english>
		<segment1>Verse1: The first task of the interpreter is called exegesis/(extra Jesus)/ naw I said exegesis man/ its a Latin word dont be scared/ matter of fact I laughed when I first heard it too/ its spelled e-x-e-g-e-s-i-s/ guarantee you learn this process and youll be blessed/ exegesis is the careful systematic/ study of scripture for the Christian this should be a habit/ but to discover the original intended meaning/ of the author to his audience is exegeting/ but to do this man you need some tools/ so let me recommend a couple of things you should use/ aight cool/ first man you need this book/its called a commentary and it helps you to further look/ into some essential things you need to check/ in order for you to properly interpret the text</segment1>
		<segment2>Hook: With this skill this should keep you from heresy/ and keep you from going through theological therapy/, the words of God will change your life/ if you Keep the text in its context/ with this skill/ this should keep you from heresy/ and keep you from going through theological therapy/ the words of God will change your life/ if you keep the text in its context</segment2>
		<segment3>Verse 2: You need some more books I know its gettin scary/ but you need some definitions get a bible dictionary/to go without these tools you cant afford it/ thats why you need this book called a concordance/ and every time you start to think this is too much to do/ I recommend you reflect on 2 Timothy 2/and 15/and youll see what I mean/ simply because the serpent is lurking to glean/ those who dont read/ and those who dont study/ to keep a lock on this treasure/ from unlocking the pleasure/ cause Gods word is lovely/ thats why we hold it as precious as pearls/ to let our exegetical work reflect to the world/ in accuracy/ hoping that you happy to see/ the very words God breathe handle accurately/ yeah so many take text out of context/ and come up with mess and more nonsense</segment3>
		<segment4>Hook</segment4>
		<segment5>Verse 3: What you dont wanna do is called eisegesis/(I see Jesus)/ naw I said eisegesis man/ you a silly dude its Latin too/ and thats just the act of when your adding to/ or the process of reading ones own meaning/ into the text and thats just eisegeting/ dont fret I know these words are new/ and phrases to/ but its cool to go back to school/ its spell ei-se-gesis/ guarantee you learn this process and Godll be vexed/ a text can never mean what it never meant before/ to its original reader or author/ so if you run into a difficult passage and you know the Bible never contradicts itself/ then turn the pages to a parallel passage and just let the scriptures interpret itself</segment5>
		<segment6>Hook.     </segment6>
	</english>
</song>
