<?xml version="1.0" ?>
<song>
	<thainame>none</thainame>
	<englishname>Persistence </englishname>
	<mienthainame>none</mienthainame>
	<order>segment1,segment2,segment3,segment4,segment5,segment6,segment7</order>
	<english>
		<segment1>I always felt like there was someone guiding me. Through the twisted maze of my reality. You never gave up when my hope would fade. You showed me signs, so many times</segment1>
		<segment2>As the days went by I sensed Your touch. A steady stream that slowly turned into a flood. With all the evidence I'll ever need. There's no question of the way You prove Your love</segment2>
		<segment3>CHORUS. Over and over I was turned back around. Whenever I wandered somehow You would find me. You've taken me into Your heart to my home. And closed the distance with Your persistence</segment3>
		<segment4>Like an island I have landed on many times. Your love has been the only place I could survive. When I'm all alone I hear Your voice. Constantly, You are there for me</segment4>
		<segment5>CHORUS</segment5>
		<segment6>I always felt like there was someone guiding me. Through the twisted maze of my reality</segment6>
		<segment7>CHORUS    </segment7>
	</english>
</song>
