<?xml version="1.0" ?>
<song>
	<thainame>none</thainame>
	<englishname>Spring Of Life </englishname>
	<mienthainame>none</mienthainame>
	<order>segment1,segment2,segment3,segment4,segment5,segment6,segment7</order>
	<english>
		<segment1>Verse 1: How beautiful are You Lord. A spring of life to me. Words of love caress my soul. You fill my every need</segment1>
		<segment2>Verse 2: And precious are Your statutes. They guide my every move. I'm so in love with You Lord. Your love shines over me</segment2>
		<segment3>Chorus: And I will seek You with all my heart. I will lift my voice to You. No matter how I feel my hope's in You. For You have rescued me from calamity. Set my feet on solid ground. Oh Lord You are a spring of life to me</segment3>
		<segment4>Verse 3: Your Word secure within me. Has kept my feet from strife. Forever I will thank You. For giving me new life</segment4>
		<segment5>. Bridge: And I will love You Jesus. My life's within Your hands. Teach me guide me. Into Your master plan</segment5>
		<segment6>Coda: You are a spring of life to me. You are a spring of life to me</segment6>
		<segment7>    </segment7>
	</english>
</song>
