<!DOCTYPE html>
<html>
<body>

<h2> Automatically Create Christian Worship Songs Powerpoint .pptx (Online for FREE)</h2>
<br>
<h2> โปรแกรมสร้าง พาวเวอร์พอยต์ (Powerpoint) เนื้อเพลงคริสเตียนโดยอัตโนมัติ </h2>
<p>เพียงแค่ใสชื่อเพลงก็ได้เนื้อเพลงในไฟล์ Powerpoint pptx พร้อมขึ้นฉาย</p>

<form action = "/createpptx" method = "POST">
<p>Type songs name into box below (seperate by comma (,) example: Amazing Grace, Holy Night) 
<br>ใส่ชื่อเพลงลงในช่องข้างล่าง อย่างเช่น พระคุณพระเจ้า,ความรักมั่นคง,พระเจ้ายิ่งใหญ่
<br><br>

<input type = "text" name = "songlist" size="65"/></p>
  <p><input type = "submit" value = "CLICK HERE   เสร็จแล้ว กดตรงนี้" /></p>
    <br>
  
<p>1. First Language เลือกภาษาที่หนึ่ง: 
<select name="chooselanguage1">
    <option value="thai">Thai ไทย</option>
        <option value="english">English</option>
            <option value="mienthai">Mien Thai (เมี่ยน เญย จั๋น-ไท้ หฑั่ง)</option>
  </select> 
</p>
     
  
  
  <p>2. Second Language เลือกภาษาที่สอง:
  <select name="chooselanguage2">
        <option value="english">English</option>
    <option value="thai">Thai ไทย</option>
            <option value="mienthai">Mien Thai (เมี่ยน เญย จั๋น-ไท้ หฑั่ง)</option>      
            <option value="none">none</option>
  </select></p>
  
    <p>3. Third Language เลือกภาษาที่สาม:
  <select name="chooselanguage3">
        <option value="none">none</option>
        <option value="english">English</option>
            <option value="thai">Thai ไทย</option>
            <option value="mienthai">Mien Thai (เมี่ยน เญย จั๋น-ไท้ หฑั่ง)</option>
  </select></p>
    <br>
<p>1. First color เลือกสีสำหรับที่หนึ่ง
  <select name="choosecolor1">
    <option value="black">black</option>
    <option value="red" style="background-color:red">red</option>
    <option value="blue" style="background-color:blue">blue</option>
    <option value="green" style="background-color:green">green</option>

    <option value="yellow" style="background-color:yellow">yellow</option>
    <option value="purple" style="background-color:purple">purple</option>
    <option value="orange" style="background-color:orange">orange</option>
    <option value="white">white</option>
  </select></p>

  
  <p>2. Second color เลือกสีสำหรับที่สอง
  <select name="choosecolor2">
         <option value="blue" style="background-color:blue">blue</option>

    <option value="black">black</option>
    <option value="red" style="background-color:red">red</option>
    <option value="green" style="background-color:green">green</option>
    <option value="yellow" style="background-color:yellow">yellow</option>
    <option value="purple" style="background-color:purple">purple</option>
    <option value="orange" style="background-color:orange">orange</option>
    <option value="white">white</option>
  </select></p>
  
    <p>3. Third color เลือกสีสำหรับที่สาม
  <select name="choosecolor3">
      <option value="red" style="background-color:red">red</option>

    <option value="black">black</option>
    <option value="blue" style="background-color:blue">blue</option>
    <option value="green" style="background-color:green">green</option>

    <option value="yellow" style="background-color:yellow">yellow</option>
    <option value="purple" style="background-color:purple">purple</option>
    <option value="orange" style="background-color:orange">orange</option>
    <option value="white">white</option>
  </select></p>
      <br>


<p>1. First Text Size เลือกขนาดสำหรับที่หนึ่ง<input type = "text" name = "textsize1" value="35"/></p>
<p>2. Second Text Size เลือกขนาดสำหรับที่สอง<input type = "text" name = "textsize2" value="35"/></p>
<p>3. Third Text Size เลือกขนาดสำหรับที่สาม<input type = "text" name = "textsize3" value="35"/></p>
      <br>
      <input type="checkbox" name="autolinespace" checked> Auto Line Spacing เลือกความกว้างระหว่างแถวอัตโนมัติ
      <br>
<p>1. First Line Spacing Size เลือกความกว้างระหว่างแถวสำหรับที่หนึ่ง<input type = "text" name = "linespace1" value="42"/></p>
<p>2. Second Line Spacing Size เลือกความกว้างระหว่างแถวสำหรับที่สอง<input type = "text" name = "linespace2" value="42"/></p>
<p>3. Third Line Spacing Size เลือกความกว้างระหว่างแถวสำหรับที่สาม<input type = "text" name = "linespace3" value="42"/></p>

  <br>


</form>

</body>
</html>