<!DOCTYPE html>
<html>
<body>

<h2> Automatically Create Christian Worship Songs Powerpoint .pptx (Online for FREE)</h2>


<form action = "/createpptx" method = "POST">
<p>Song list (seperate by comma (,) example: Amazing Grace, Holy Night) <br><input type = "text" name = "songlist" /></p>

    <br>
  <br>

<p>1. First Text Size <input type = "text" name = "textsize1" value="35"/></p>
<p>2. Second Text Size <input type = "text" name = "textsize2" value="35"/></p>
<p>3. Third Text Size <input type = "text" name = "textsize3" value="35"/></p>

    <br>
  <br>
  
<p>1. First Language:
<select name="chooselanguage1">
    <option value="thai">Thai ไทย</option>
        <option value="english">English</option>
            <option value="thai">Mien Thai (เมี่ยน เญย จั๋น-ไท้ หฑั่ง)</option>
  </select> 
</p>
     
  
  
  <p>2. Second Language:
  <select name="chooselanguage2">
        <option value="english">English</option>
    <option value="thai">Thai ไทย</option>
            <option value="thai">Mien Thai (เมี่ยน เญย จั๋น-ไท้ หฑั่ง)</option>      
            <option value="none">none</option>
  </select></p>
  
    <p>3. Third Language:
  <select name="chooselanguage3">
        <option value="none">none</option>
        <option value="english">English</option>
            <option value="thai">Thai ไทย</option>
            <option value="thai">Mien Thai (เมี่ยน เญย จั๋น-ไท้ หฑั่ง)</option>
  </select></p>
    <br>
  <br>
<p>1. First color
  <select name="choosecolor1">
    <option value="black">black</option>
    <option value="red" style="background-color:red">red</option>
    <option value="blue" style="background-color:blue">blue</option>
    <option value="green" style="background-color:green">green</option>

    <option value="yellow" style="background-color:yellow">yellow</option>
    <option value="purple" style="background-color:purple">purple</option>
    <option value="orange" style="background-color:orange">orange</option>
    <option value="white">white</option>
  </select></p>

  
  <p>2. Second color
  <select name="choosecolor2">
         <option value="blue" style="background-color:blue">blue</option>

    <option value="black">black</option>
    <option value="red" style="background-color:red">red</option>
    <option value="green" style="background-color:green">green</option>
    <option value="yellow" style="background-color:yellow">yellow</option>
    <option value="purple" style="background-color:purple">purple</option>
    <option value="orange" style="background-color:orange">orange</option>
    <option value="white">white</option>
  </select></p>
  
    <p>3. Third color
  <select name="choosecolor3">
      <option value="red" style="background-color:red">red</option>

    <option value="black">black</option>
    <option value="blue" style="background-color:blue">blue</option>
    <option value="green" style="background-color:green">green</option>

    <option value="yellow" style="background-color:yellow">yellow</option>
    <option value="purple" style="background-color:purple">purple</option>
    <option value="orange" style="background-color:orange">orange</option>
    <option value="white">white</option>
  </select></p>
  
  <p><input type = "submit" value = "CLICK HERE" /></p>
</form>

</body>
</html>